PORT=3001
NODE_ENV=production
DATABASE_URL=postgresql://nailflow:nailflow_pass@postgres:5432/nailflow
FRONTEND_URL=http://localhost:3000
CDN_API_KEY=dmm_7tpONlAMTNtIMLjpr4gMSNqw9LGbgX6X
CDN_API_KEY_REFERENCES=dmm_XKnnaMPrgRWaRHQ21deaQ3Krz2B6iBW
MERCADOPAGO_API_KEY=
N8N_WEBHOOK_URL=
PAYMENT_TEST_MODE=true
DASHBOARD_SECRET=nailflow_admin_2024
